.container{
    width: 100%;
    background: #000;
    color: aliceblue;
    display: flex;
}
.leftContainer{
    width: 40%;
}

.rightContainer{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.cardItem{
    width: 30%;
}


@media screen and (min-width: 576px) {
    .cardItem{
        width: 50%;
    }
}